﻿

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter your sql query</h4>
        <hr />
        
        

        

        <div class="form-group webmd">
            
            <div class="col-md-10">
                
                <input type="text" name="query" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Query!" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <h2>WebMD thanks for the opportunity!</h2>

    <table class="webmd">
        @{
            if (ViewData["query_result"] != null)
            {
                String[] rows = ViewData["query_result"].ToString().Split('\n');



                foreach (var row in rows)
                {
                        <tr>
                        @{
                            String[] fields = row.Split('\t');
                            foreach (var field in fields)
                            {
                                
                                    <td>@field</td>
                                
                            }
                        }
                        </tr>
                }

                
                
            }
         }
    </table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
