﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

.webmd input {
    width:50%;
}
form + textarea {
    width: 100%;

}

table.webmd {
    border: 1px solid black;
    margin-top:10px;
    margin-bottom:10px;
}
table.webmd td {
    padding:10px;
    text-align:left;
}
    table.webmd tr:nth-child(even) {
        background-color: #f2f2f2;
    }
